img {
  border-radius: 2rem;
}

.stay-container {
  margin: 1em;
}

.category-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.svg-inline--fa.fa-star {
  color: #eb5757;
  padding: 0 0.5rem;
}
